body{
    width:100px; height:100%;
    background: #f09433; 
    background: -moz-linear-gradient(135deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(135deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(135deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc1888', endColorstr='#f09433',GradientType=1 );
     
}

.instagram {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(instagram.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px; /* Adjust the width and height to your liking */
    height: 500px;   
}