.MContent{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;

}

body{
    background-color: #F7F6CF;

}

.Header{
    width: 100%;
    display: flex;
    border-radius: 10px;
    background-color: #77DD77;
    font-size: medium;
    align-items: center;
    align-content: center;

}

.Logo{
    width: 50%;
    min-height: 50px;
    padding-left: 15%;
    padding-right: 5%;
    line-height: 50px;
    float: left;
}

.Logo img{
    max-width: 100%;
    max-height: 100%;
    width: 125px;
    height: 125px;
    float: auto;
    display: block;
    margin-bottom: 10px;

}


.Navigation{
    width: 50%;
    min-height: 60px;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 100px;
    float: left;
    text-align: center;
}

.About{
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.AbtCompany {
    background-color: #77DD77;
    border-radius: 10px;
    margin: 10px;
    margin-top: 30px;

  }

#LogoPic img{
    width: 300px;
    height: 300px;
    background: linear-gradient(to left, #77DD77 10%, #F7F6CF);
    margin-right: 15px;
    background-color: white;
    float: left;
    border-radius: 10px;

}

#Descrption p{
    letter-spacing: 1px;
    text-align: justify;
    text-justify: inter-word;
    color: white;

}

.Crane  {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    line-height: 100px;
    background-color: lightgrey

}



.Excavator {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    line-height: 100px;
    background-color: lightgrey

}

.Hauls {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    line-height: 100px;
    background-color: lightgrey;

}


.Footer{
    width: 100%;
    display: flex;
    border-radius: 10px;
    background-color: #77DD77;
    font-size: medium;
    align-items: center;
    align-content: center;
    margin-top: 30px;

}

.Foot{
    width: 50%;
    min-height: 50px;
    padding-left: 15%;
    padding-right: 5%;
    line-height: 50px;
    float: left;
}

.Foot img{
    max-width: 100%;
    max-height: 100%;
    width: 125px;
    height: 125px;
    float: auto;
    display: block;
    margin-bottom: 10px;
}

.Info{
    width: 50%;
    min-height: 60px;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 100px;
    float: left;
    text-align: center;
}

/*Responsive*/

@media screen and (max-width: 767px){
    
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    
}

@media screen and (min-width: 1024px) {
    
}